# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
000.Links.md
000. Work/
001. Flashcards/
_001. Atomic Notes/
Files/
templates/
000. Categories and Subcategories.md
_oldconfig.yml
000. Tags.md
excalibrain.md
Excalidraw/Drawing 2022-08-13 19.22.09.excalidraw.md
permanent notes/001. My Processes.md
tools/deploy.sh
README.md
