# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
000.Links.md
000. Work/004. Done/The deliverable for Jet Jungle.md
000. Work/004. Done/Tag - Childlike.txt
000. Work/004. Done/Tag - Childlike 1.md
000. Work/004. Done/add standardised image sizes to all the YAML on all templates , as well as the aliases line....md
000. Work/003. Inbox/Try the 4 Act Grid Again.md
000. Work/003. Inbox/text synth or similar with an api I can use in obsidian to mimic a second player.md
000. Work/003. Inbox/Test the API of Text Synth and Obsidian.md
000. Work/003. Inbox/test events notes ... Preceded by field or lead in and lead outs.md
000. Work/003. Inbox/set up Beeminder to track emails sent.md
000. Work/003. Inbox/resuscitate the query letter workflow.md
000. Work/003. Inbox/Recreate the TC Suite Plot Thingy.md
000. Work/003. Inbox/Play Kingdom but for Erue story.md
000. Work/003. Inbox/play Journey for Erue's first trip to Zvongombe.md
000. Work/003. Inbox/Play For The Queen.md
000. Work/003. Inbox/make a portable ToAD brainstorming thingy.md
000. Work/003. Inbox/Make a perchance subfolder with 45 files.md
000. Work/003. Inbox/Fix all the tooltips on all of the templates so they're commented out nicely.md
000. Work/003. Inbox/finish the obsidian anki connection.md
000. Work/003. Inbox/Erue and other caravan members go with Modjadji on a journey - for the Queen.md
000. Work/003. Inbox/Download all the For The Queen Prompts.md
000. Work/003. Inbox/Do the Chan after the drum arc.md
000. Work/003. Inbox/Do the Antagonist Plan Brainstorming Tool.md
000. Work/003. Inbox/Dangerzone 11 July 2022.md
000. Work/003. Inbox/create the what would you do on perchance.md
000. Work/003. Inbox/Create the Blue Baobab Project - bring in all pieces.md
000. Work/003. Inbox/Create Hidden Relationship Fields in all of the notes templates.md
000. Work/003. Inbox/Create a generator of all the Plotto prompts.md
000. Work/003. Inbox/Clean up all the FOOTNOTES so the percentage signs are hidden.md
000. Work/003. Inbox/Childlike Wonder and the Socractic Process.md
000. Work/003. Inbox/build the antagonist engine v 3 & do the "Tippu as antagonist" plan - remember it's not deliberate hey.md
000. Work/003. Inbox/Beeminder Cloze setup.md
000. Work/003. Inbox/add story hooks to the notes.md
000. Work/003. Inbox/add a why column to all inbox tasks in Sandbox 1.md
000. Work/003. Inbox/add a related events column to every entity in the sandbox .. some randomiser nyana for characters involved and for for the dramatic core- which is a combo of 36 dramatic and tapestry.md
000. Categories and Subcategories.md
_oldconfig.yml
templates/comment html.md
templates/comment markdown.md
templates/default.md
templates/new note.md
Untitled 1.md
Untitled.md
